{% extends '../base.html' %}

{% block title %}
    Hotel {{ hotel.pk }}
{% endblock %}



{% block body %}
    <div class="container">
        <div class="header">
            <h1 id="hotelName" class="heading">{{ hotel.name }}</h1>
            <p id="hotelRating" class="rating">Rating: {{ hotel.rating }}</p>
        </div>
        <div class="content">
            <div class="image-container">
                <img id="hotelImage" class="image" src="{{ hotel.image.url }}" alt="">
            </div>
            <div class="info-container">
                <p id="hotelAddress" class="info">Address: {{ hotel.address }}</p>
                <p id="hotelCity" class="info">City: {{ hotel.city }}</p>
                <p id="hotelDescription" class="description">{{ hotel.description }}</p>
                <a href="{% url 'hotel_rooms' hotel.pk %}"><button id="roomsButton" class="button">Book a Room</button></a>
            </div>
        </div>
    </div>



    <script>
        // JavaScript code
        var hotel = {
            name: "{{ hotel.name }}",
            address: "{{ hotel.address }}",
            city: "{{ hotel.city }}",
            rating: "{{ hotel.rating }}",
            description: "{{ hotel.description }}",
            image: {
                url: "{{ hotel.image.url }}"
            }
        };

        // Insert hotel data into corresponding elements on the page
        document.getElementById("hotelName").innerText = hotel.name;
        document.getElementById("hotelRating").innerText = "Rating: " + hotel.rating;
        document.getElementById("hotelAddress").innerText = "Address: " + hotel.address;
        document.getElementById("hotelCity").innerText = "City: " + hotel.city;
        document.getElementById("hotelDescription").innerText = hotel.description;
        document.getElementById("hotelImage").src = hotel.image.url;


    </script>
    {% block styles %}
        <style>
        /* Стили для контейнера отеля */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

/* Стили для заголовка отеля */
.heading {
    font-size: 24px;
    margin-top: 0;
}

/* Стили для рейтинга отеля */
.rating {
    font-size: 16px;
    color: #888;
}

/* Стили для изображения отеля */
.image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Стили для информации об отеле */
.info {
    font-size: 16px;
    margin-bottom: 5px;
}

/* Стили для описания отеля */
.description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* Стили для кнопки "Book a Room" */
.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}




        </style>
        {% endblock %}
     {% block footer %}

<div style="max-height: 5px" class="text-center mt-5">
  <footer class="bg-dark text-light py-5">


      <p class="mb-0">&copy; 2024 Nukus Hotel. Все права защищены.</p>
  </footer>
         </div>

  <style>
    body {
      background-image: url(https://images.unsplash.com/photo-1618773928121-c32242e63f39?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aG90ZWwlMjBiZWR8ZW58MHx8MHx8fDA%3D);
      background-size: cover;
      background-position: center;
      font-family: Arial, sans-serif;
    }



    footer {
      background-color: #333;
    }

    footer h4 {
      color: #fff;
      font-size: 24px;
      font-weight: bold;
    }

    footer p {
      color: #ccc;
      font-size: 16px;
      line-height: 1.7;
    }

    footer a {
      color: #fff;
    }

    footer a:hover {
      text-decoration: underline;
    }

    footer p.mb-0 {
      color: #999;
      font-size: 14px;
    }
  </style>

    {% endblock footer %}
    
{% endblock %}